<li<%== ' class="active"' if current == "Videos" %>>
<%= link_to "<span class='text'>#{t("videos")}</span>".html_safe,  admin_product_videos_url(@product), :class => "icon_link with-tip icon-play"  %>
</li>
